$primary: #f25c3c;
$secondary: #e9e9e9;
// orange --> #fd7e14;
// rouge-orange --> #f03e1f;
// vermillon --> #f2542d;
// orange brûlé --> #f25c3c;
// $font-family-base: 'Segoe UI', sans-serif;

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

@import "bootstrap-icons/font/bootstrap-icons";
@import "bootstrap/scss/bootstrap";

@import "variables";
@import "index";

html {
    @include mq(600px) {
        font-size: 12px;
    }
}

body {
    font-family: $font-regular;
    color: $color-black;
}

a {
    color: $color-black;
}

.whitespace-pre {
    white-space: pre-wrap;
}
